body {
    font-family: monospace;
}

header {
    display: inline-block;
}

nav {
    float: left;
    background: white;
}

nav ul {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

nav li {
    display: inline-block;
    padding: 1rem;
}

nav a {
    color: black;
    text-decoration: underline 0.15em white;
    text-transform: uppercase;

    transition: text-decoration-color 250ms;
}

nav a:hover {
    text-decoration-color: black;
}

form {
    width: 350px;
}

label {
    display: block;
    text-align: right;
}

input {
    margin: 1em;
    outline: 0;
    border-width: 0 0 1px;
    background-color: white;
    border-color: black;
    transition: border-width 100ms;
}

input:focus {
    #border-width: 0 0 3px;
}

input[type="submit"] {
    display: block;
    border: none;
    text-decoration: underline 0.15em white;

    text-align: center;
    margin: 0 auto;

    transition: text-decoration-color 250ms;
}

input[type="submit"]:hover {
    text-decoration-color: black;
    cursor: pointer;
}

::selection {
  color: white;
  background-color: black;
}

img {
    width: 100%;
}

main {
    width: 20%;
}
