{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block main %}
<script type="text/javascript">
    function like(token) {
        var csrf_token = "{{ csrf_token() }}"
        let xhr = new XMLHttpRequest();
        xhr.open('POST', 'like/' + token, true);
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
        xhr.send();
        xhr.onload = function() {
            if (xhr.status == 200) {
                document.getElementById(token).innerText = xhr.response + ' like/s';
            }
        }
    }
</script>
{% for img in imgs.find({'private': False}).sort("likes", -1).limit(10) %}
<li><img src="static/uploads/{{ img['filename'] }}">
    {{ img }}
    {% if current_user.is_authenticated %}
    <button id={{ img.token }} onclick=like('{{ img.token }}')>{{ img.likes }} like/s</button>
    <form action="comment/{{ img.token }}" method="post">
        {{ form.csrf_token }}
        <label for="comment">your comment<textarea name=comment></textarea></label>
        <input type=submit value="add the comment">
    </form>
    {% endif %}
</li>
{% endfor %}
{% endblock %}
