<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    <title>{% block title %}{% endblock %} - image platform</title>
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/profile">profile</a></li>
                    <li><a href="/restore">restore</a></li>
                    <li><a href="/upload">upload</a></li>
                    <li><a href="/logout">log out</a></li>
                {% else %}
                    <li><a href="/login">log in</a></li>
                    <li><a href="/signup">sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>{% block main %}{% endblock %}</main>
</body>
</html>
