{% extends "layout.html" %}
{% block title %}logging in{% endblock %}
{% block main %}
<form method="post">
    {{ form.csrf_token }}
    <label for="login">login<input autofocus type=text name=login></label>
    <label for="password">password<input type=password name=password></label>
    <input type=submit value="log in">
</form>
{% endblock %}
