{% extends "layout.html" %}
{% block title %}profile{% endblock %}
{% block main %}
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}"
    let xhr = new XMLHttpRequest();
    function remove(token) {
        xhr.open('POST', 'profile/remove/' + token, true);
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
        xhr.send();
        xhr.onload = function() {
            if (xhr.status == 200) {
                document.getElementById(token).remove();
            }
        }
    }
    function set_avatar(token) {
        xhr.open('POST', 'profile/set_avatar/' + token, true);
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
        xhr.send();
        xhr.onload = function() {
            if (xhr.status == 200) {
                location.reload();
            }
        }
    }
</script>
{% if user['avatar'] %}
<img src="static/uploads/{{ imgs.find_one({'token': user['avatar']})['filename'] }}">
{% endif %}
{{ user }}
{% for img in imgs.find({'owner': current_user.id}) %}
<li><img id={{ img.token }} src="static/uploads/{{ img['filename'] }}">
    {{ img }}
    <button onclick=remove('{{ img.token }}')>remove</button>
    {% if not img['private'] %}
        <button onclick=set_avatar('{{ img.token }}')>set as an avatar</button>
    {% endif %}
</li>
{% endfor %}
{% endblock %}
