{% extends "layout.html" %}
{% block title %}signing up{% endblock %}
{% block main %}
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="login">login<input autofocus type=text name=login></label>
    <label for="password">password<input type=password name=password></label>
    <input type=submit value="sign up">
</form>
{% endblock %}
