{% extends "layout.html" %}
{% block title %}upload{% endblock %}
{% block main %}
<form method=post enctype=multipart/form-data>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type=file name=file>
    <label for="password">password<input type=password name=password></label>
    <label for="private">private<input type=checkbox name="private"></label>
    <input type=submit value=upload>
</form>
{% endblock %}
